<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <link rel="manifest" href="/manifest.webmanifest" />
    <title>M1IF13 - Carte++</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id='app'></div>
    <%= htmlWebpackPlugin.options.serviceWorkerLoader %>
  </body>
</html>