<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
        integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
        integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
        crossorigin="" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src='https://unpkg.com/leaflet@1.4.0/dist/leaflet.js'
        integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
        crossorigin=""></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <style>
        #map {
            height: 180px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Welcome to the admins' page.</a>
    </nav>

    <main role="main" class="container">

        <div class="starter-template">
            <% if (users) { %>
                <h2>User list:</h2>
                <p class="lead">All users available.</p>
                <div class="list-group">
                    <% users.forEach(user => { %>
                    <a class="list-group-item list-group-item-action" href=<%= '/admin/users/' + user %>><%= user %></a>
                    <form method="POST" action="<%= "/admin/users/" + user + "?_method=DELETE" %>" style="display: inline;">
                        <input type="submit" value="Delete">
                    </form>
                    <% }) %>
                </div>
            <% } else { %>
                <h3> No users</h3>
            <% } %>
        </div>
        
        <div class="starter-template">
            <h2>Create an user:</h2>
            <form method="POST" action="/admin/users">
                <div class="form-group">
                  <label for="login_input">Login</label>
                  <input type="text" class="form-control" id="login_input" name="login">
                </div>
                <div class="form-group">
                  <label for="password_input">Password</label>
                  <input type="password" class="form-control" id="password_input" name="password">
                </div>
                <button type="submit" class="btn btn-dark">Submit</button>
            </form>
        </div>

        <div class="starter-template">
            <h2>Game Zone Definition</h2>
            <p class="lead">Here you can define a game zone</p>

            <form id="game" action="">
                <div id="zone">
                    <p class="lead">The maximum distance will be calculated based on the time to leave.</p>
                    <p class="lead">Considering that a person runs 45 km/h</p>
                    <p class="lead">For example :</p>
                    <p class="lead">If the TTL = 1 min, the maximum distance is 750 meters </p>
        
                    <div class="form-group">
                        <label for="ttl">Time to live (minutes 1 by default)</label>
                        <input type="text" name="ttl" id="ttl" value="1" onchange="maxDistance()" class="form-control">
                        <p id="maxDist"></p>
                    </div>

                    <h3>Center definition</h3>
                    <p class="lead">Manually enter the latitude and longitud or </p>
                    <p class="lead">click on the map to define the center of the game zone</p>
                    <div class="form-group">
                        <label for="centerLat">Latitude:</label>
                        <input type="text" id="centerLat" name="centerLat" value="45.782" onchange="updateMarker()" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="centerLng">Longitude:</label>
                        <input type="text" id="centerLng" name="centerLng" value="4.8656" onchange="updateMarker()" class="form-control">
                    </div>
                    <div class="form-group">                        
                        <label for="radius">Radius:</label>
                        <input type="text" id="radius" name="radius" value="750" onchange="updateCircle()" class="form-control">
                    </div>
        
                    <p id="warning" class="lead text-danger"></p>
                    
                    <div class="form-group">
                        <label for="zoom">Zoom : <span id="zoomValue"></span> </label>
                        <input type="range" id="zoom" name="zoom" min="1" max="20" value="15" onchange="updateZoom()">
                    </div>

                    <p onclick="zoneReady()" class="btn btn-dark">Ready to define targets</p>
                </div>
                <div id="targets">
                    <div id="targetsList"></div>
                    <button type="submit" class="btn btn btn-outline-secondary">Start Game</button>
                </div>
            </form>
        
        </div>
    </main>

    
    <div id="map"></div>

    <!-- <a href="/admin/newgame">Create a new game</a> -->

</body>

<script>
    let map = L.map('map')
    let distance = 750
    let zoneIsReady = false
    let targetsList = []
    let url = 'http://192.168.75.31:3376/api/resources/games'
    updateMap()

    L.tileLayer(
        'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibTFpZjEzIiwiYSI6ImNqczBubmhyajFnMnY0YWx4c2FwMmRtbm4ifQ.O6W7HeTW3UvOVgjCiPrdsA', {
            maxZoom: 20,
            minZoom: 1,
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            id: 'mapbox.streets'
        }).addTo(map)

    var center = L.marker([$('#centerLat').val(), $('#centerLng').val()])
    center.addTo(map).bindPopup('<strong>CENTER</strong>.').openPopup()

    var zone = L.circle([$('#centerLat').val(), $('#centerLng').val()], {
        radius: $('#radius').val()
    })
    zone.addTo(map)

    $('#targets').hide()
    let target_num = 0

    map.on('click', function (ev) {
        if (zoneIsReady) {
            position = ev.latlng
            if (isInsideZone(position)) {
                let lat = position.lat,
                    lng = position.lng
                targetsList[target_num] = [lat, lng]
                target_num++
                let label = "<label>Target [" + lat + "," + lng + "]</label>"
                let input = "<input type='hidden' name='targets[[" + lat + ", " + lng + "]]'>"
                $('#targetsList').append(lat + ' , ' + lng + '<br>')
                addTarget(position)
            } else {
                alert("Outside of the GameZone!!!")
            }
        } else {
            $("#centerLat").val(ev.latlng.lat)
            $("#centerLng").val(ev.latlng.lng)
            updateMarker()
        }
    })

    function isInsideZone(position) {
        let radius = $('#radius').val()
        let center = L.latLng($('#centerLat').val(), $('#centerLng').val())
        return center.distanceTo(position) <= radius
    }

    function addTarget(position) {
        L.marker(position).addTo(map).bindPopup('Target').openPopup()
    }

    function zoneReady() {
        $('#zone').hide()
        $('#targets').show()
        zoneIsReady = true
    }

    function maxDistance() {
        $('#maxDist').text("Maximum distance allowed " + $('#ttl').val() * distance)
    }

    function updateMap() {
        map.setView([$('#centerLat').val(), $('#centerLng').val()], $('#zoom').val())
        return false
    }

    function updateMarker() {
        map.removeLayer(center)
        center = L.marker([$('#centerLat').val(), $('#centerLng').val()])
        center.addTo(map).bindPopup('<strong>CENTER</strong>.').openPopup()
        updateCircle()
        return false
    }

    function updateCircle() {

        if ($('#radius').val() <= $('#ttl').val() * distance) {
            $('#warning').text('')
            map.removeLayer(zone)
            zone = L.circle([$('#centerLat').val(), $('#centerLng').val()], {
                radius: $('#radius').val()
            })
            zone.addTo(map)
        } else {
            $('#radius').val(distance)
            $('#warning').text("Exceeds the maximum distance allowed!!")
        }
        return false
    }

    function updateZoom() {
        $('#zoomValue').html($('#zoom').val());
        updateMap();
    }

    $('#game').submit(function (e) {
        e.preventDefault()
        let lat = position.lat,
            lng = position.lng
        let data = {}
        data.center = [lat, lng]
        data.radius = $('#radius').val()
        data.targets = targetsList
        data.ttl = $('#ttl').val()

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
    })
</script>

</html>