<!doctype html>
<html lang="fr">
    <head>
		<meta charset="UTF-8">
        <title>M1IF13 - Carte++</title>
		<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
        <script src='https://unpkg.com/leaflet@1.4.0/dist/leaflet.js' integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/style.css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
		<header>
			<h1>MifMapApp</h1>
		</header>
		<section>
			<h2>Position</h2>
			<form onsubmit="return updateMap();" class="pure-form pure-form-stacked">
				<fieldset>
					<label for="lat">Lattitude : </label> <input type="text" id="lat" name="lat" value="45.782">
					<label for="lon">Longitude : </label> <input type="text" id="lon" name="lon" value="4.8656">
					<label for="zoom">Zoom : <span id="zoomValue"></span></label> <input type="range" id="zoom" name="zoom" min="1" max="20" value="15">
					<input type="submit" value="Afficher" class="pure-button pure-button-active">
				</fieldset>
			</form>
		</section>

		<section>
			<h2>Carte</h2>
			<div id="map"></div>
		</section>
    <!-- <script src="./js/map.js"></script>
    <script src="./js/form.js"></script> -->
  </body>
</html>