<!DOCTYPE html>
<html>

<body>
    <h1>User page</h1>
    <% if (!user) { %>

    <p>No user found!</p>

    <% } else { %>

    <p> User : <%= user.login %></p>
    <p> Connected : <%= user.connected %></p>

    <% } %>

    <h2>Modify user: </h2>
    <form method="POST" action="<%= "/admin/users/" + user.login + "?_method=PUT" %>">
        <input type="hidden" name="login" value="<%= user.login %>">
        New password:
        <input type="password" name="password">
        <input type="submit">

    </form>

    <h2>Delete user: </h2>
    <form method="POST" action="<%= "/admin/users/" + user.login + "?_method=DELETE" %>">
        <input type="submit" value="DELETE">
    </form>

</body>

</html>