<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>ERROR</title>

    <style>
        body{
            background: rgb(36, 43, 70);
        }

        .text-3d {
            
            font-size: 8rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) skewY(-6deg);
            transform-origin: bottom left;
            color: transparent;
            text-shadow:

                1px -1px 10px rgba(255, 255, 255, 0.4), 
                0px -1px 10px rgba(255, 255, 255, 0.4),  
                -1px -1px 10px rgba(255, 255, 255, 0.4), 
                0px -2px 3px #fff, 
                -1px -2px 3px #fff, 
                -2px -2px 3px #fff,
                
                -1px -3px 2px #ddd, 
                -2px -3px 2px #ddd, 
                -3px -3px 2px #ddd,
                -2px -4px 2px #fff, 
                -3px -4px 2px #fff, 
                -4px -4px 2px #fff,
                -3px -5px 1px #fff, 
                -4px -5px 1px #fff, 
                -5px -5px 1px #fff;
        }

        html, body {
            height: 100%;
            position: relative;
        }
        footer {
            position: absolute;
            bottom: 0;
            width: 100%;
        }

        .list-group-item {
            background-color: transparent;
            border-top: none;
            border-radius: 0;
            color: #fff;
        }
    </style>

</head>
<body>
    <div class="text-3d">
        <span th:text="${status}"></span>
    </div>

    <footer>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                Message :  <span th:text="${message}"></span>
            </li>
            <li class="list-group-item">
                Error : <span th:text="${error}"></span></li>
            <li class="list-group-item"><span th:text="${timestamp}"></span></li>
            <li class="list-group-item"><span th:text="${exception}"></span></li>
        </ul>
    </footer>
</body>
</html>