.text-3d {
    color: transparent;
    text-shadow:
     
     /* This set has more blur distance to create glowing effect */
     1px -1px 10px rgba(255, 255, 255, 0.4), 
     0px -1px 10px rgba(255, 255, 255, 0.4),  
    -1px -1px 10px rgba(255, 255, 255, 0.4), 
     0px -2px 3px #0000, 
    -1px -2px 3px #0000, 
    -2px -2px 3px #0000,
     
     /* This set has darken color to create depth */
    -1px -3px 2px rgb(82, 78, 78), 
    -2px -3px 2px rgb(82, 78, 78), 
    -3px -3px 2px rgb(82, 78, 78),
    -2px -4px 2px #0000, 
    -3px -4px 2px #0000, 
    -4px -4px 2px #0000,
    -3px -5px 1px #0000, 
    -4px -5px 1px #0000, 
    -5px -5px 1px #0000;
}

.text-3d:before {
    z-index: -1;
    color: transparent;
    text-shadow:  
    15px 0px 20px rgba(0, 0, 0, 0.25), 
    15px 0px 25px rgba(0, 0, 0, 0.2),
    15px 0px 35px rgba(0, 0, 0, 0.15), 
    15px 0px 45px rgba(0, 0, 0, 0.1);
}