<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title> User </title>
    <style>
        .card {
            margin : 0 auto;
            float : none;
            padding-bottom: 30px;
        }
    </style>
</head>
<body>

    <div class="card" style="max-width: 25rem;">
        <div class="card-header text-white bg-secondary">
            <h2 style="text-align: center">User:</h2>
        </div>
        <div class="card-body bg-light ">
          <h5 class="card-title"> Login : <span th:text="${user.login}"/></h5>
          <p class="card-text">
              Connected :
              <span th:text="${user.connected}"></span>
              
          </p>
        </div>
    </div>

</body>
</html>