<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Users</title>
    <style>
        .card {
            margin : 0 auto;
            float : none;
            padding-bottom: 30px;
        }
    </style>

</head>
<body>

    <div class="card" style="max-width: 40rem;">
        <div class="card-header text-white bg-dark">
            <h2 style="text-align: center">List of users</h2>
        </div>
        <div class="card-body">
            <table class="table table-hover table-bordered">
                <thead class="thead">
                    <th>Login</th>
                </thead>
                <tbody>
                    <tr th:each="user: ${users}">
                        <td><a th:href="@{/users/{u}(u = ${user})}" th:text="${user}" class="text-secondary" style="display: block;"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>