<template>
  <v-app>
    <Players :drawer="drawer" v-if="gameStarted" />
    <v-app-bar clipped-left app>
      <v-app-bar-nav-icon @click.stop="drawer.model = !drawer.model" v-if="gameStarted" />
      <v-toolbar-title>Vuetify</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-switch v-model="$vuetify.theme.dark" primary label="Dark" />
      <v-switch v-model="drawer.mini" label="Mini" primary />
      <v-btn small @click="disconnect()">Logout</v-btn>
    </v-app-bar>

    <v-content>
      <v-container fluid>
        <v-row align="center" justify="center">
          <v-col cols="11" v-if="gameStarted">
            <v-card v-if="location">
              <GeoLocalisation />
            </v-card>
            <v-card v-else>
              <Form />
            </v-card>
            <v-card>
              <Information />
            </v-card>
            <v-card>
              <Map />
            </v-card>
          </v-col>
          <v-col v-else>
            <v-btn @click="startGame()">START</v-btn>
          </v-col>
        </v-row>
      </v-container>
    </v-content>

    <!-- <v-footer app elevation>
      <span class="px-4">&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>-->
  </v-app>
</template>

<script>
import { mapGetters } from "vuex";
import { deleteLogout } from "../repositories/users";

import firebase from '@/configFirebase.js'
import axios from 'axios';
const { messaging } = firebase;

import Form from "./Form";
import GeoLocalisation from "./GeoLocalisation";
import Map from "./Map";
import Players from "./Players";
import Information from "./Information";

export default {
  name: "Container",
  data: () => ({
    drawer: {
      model: null,
      clipped: false,
      mini: false
    },
  }),
  components: {
    Form,
    GeoLocalisation,
    Map,
    Players,
    Information
  },
  computed: {
    ...mapGetters(["gameStarted", "timeout", "location"])
  },
  methods: {
    disconnect: function() {
      var self = this;
      deleteLogout().then(response => {
        if (response.status === 204) {
          sessionStorage.removeItem("token");
          sessionStorage.removeItem("login");
          self.$router.push({ name: "login" });
        }
      });
    },
    randomNotification() {
      var notifTitle = "Notification test"
      var notifBody = "Lorem ipsus";
      var options = {
        body: notifBody
      };
      var notif = new Notification(notifTitle, options);
      setTimeout(randomNotification, 5000);
    },
    startGame() {
      var self = this;
      Notification.requestPermission().then(function(result) {
        if (result === "granted") {
          self.randomNotification();
          this.$store.commit("setNotification", true);
        }
      });
      // this.getMessagingToken()
      this.$store.dispatch("Start");
    },
    getMessagingToken() {
      messaging
        .getToken()
        .then(async token => {
          if (token) {
            const currentMessageToken = window.localStorage.getItem(
              "messagingToken"
            );
            console.log("token will be updated", currentMessageToken != token);
            if (currentMessageToken != token) {
              await this.saveToken(token);
            }
          } else {
            console.log(
              "No Instance ID token available. Request permission to generate one."
            );
            this.notificationsPermisionRequest();
          }
        })
        .catch(function(err) {
          console.log("An error occurred while retrieving token. ", err);
        });
    },
    notificationsPermisionRequest() {
      messaging
        .requestPermission()
        .then(() => {
          this.getMessagingToken();
        })
        .catch(err => {
          console.log("Unable to get permission to notify.", err);
        });
    },
    listenTokenRefresh() {
      const currentMessageToken = window.localStorage.getItem("messagingToken");
      console.log("currentMessageToken", currentMessageToken);
      if (!!currentMessageToken) {
        messaging.onTokenRefresh(function() {
          messaging
            .getToken()
            .then(function(token) {
              this.saveToken(token);
            })
            .catch(function(err) {
              console.log("Unable to retrieve refreshed token ", err);
            });
        });
      }
    },
    saveToken(token) {
      console.log("tokens", token);
      axios
        .post(
          `https://us-central1-m1if13-client-vue.cloudfunctions.net/GeneralSubscription`,
          { token }
        )
        .then(response => {
          window.localStorage.setItem("messagingToken", token);
          console.log(response);
        })
        .catch(err => {
          console.log(err);
        });
    }
  },
  watch: {
    gameStarted(newVal, oldVal) {
      if (newVal) {
        this.$store.dispatch("Resources");
        this.$store.dispatch("Timeout", this.$router);
      }
    },
  },
  mounted() {
    // this.listenTokenRefresh();
  }
};
</script>
