<template>
  <v-container>
    <v-form ref="form" @submit.prevent="updateMap">
      <v-row>
        <v-col cols="4">
          <v-text-field v-model="latitude" :rules="rules" hide-details="auto" label="Latitude"></v-text-field>
        </v-col>
        <v-col cols="4">
          <v-text-field v-model="longitud" :rules="rules" hide-details="auto" label="Longitude"></v-text-field>
        </v-col>
        <v-col cols="4">
          <v-btn type="submit">Submit</v-btn>
        </v-col>
      </v-row>
      <v-row align="center" justify="center">
        <v-slider
          v-model="zoom"
          :thumb-size="24"
          thumb-label="always"
          max="20" min="1"
          hide-details
        />
      </v-row>
    </v-form>
  </v-container>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "Form",
  data: function() {
    return {
      latitude: this.$store.getters.user.position[0],
      longitud: this.$store.getters.user.position[1],
      zoom: this.$store.getters.zoom,
      rules: [
        value => !!value || "Required.",
        value => (value && !isNaN(value)) || "Numbers only"
      ]
    };
  },
  methods: {
    updateMap(e) {
      let position = [parseFloat(this.latitude),parseFloat(this.longitud)]
      this.$store.dispatch('Position',{position: position, router: this.$router})
      this.$store.commit("setZoom", this.zoom);
    }
  }
};
</script>
