<template>
    <v-container>
        <v-row>
            {{user.position[0]}} {{user.position[1]}}
        </v-row>
    </v-container>
</template>

<script>
import { mapGetters } from "vuex"
import L from "leaflet"

export default {
    name : "GeoLocalisation", 
    computed: {
        ...mapGetters(["user", "gamezone"])
    },
    methods: {
        follow(position) {
            let coords =  position.coords
            this.$store.dispatch("Position", {position:[coords.latitude, coords.longitude], router: this.$router})
        }
    },
    mounted: function () {
        navigator.geolocation.watchPosition(this.follow)
    }
}
</script>

