<template>
    <v-container>
        <v-row>
            {{counter}}
        </v-row>
    </v-container>
</template>

<script>
import { mapGetters } from "vuex"

export default {
    name : "Information", 
    data : function(){
        return {
            counter : ""
        }
    },
    computed: {
        ...mapGetters(["user", "gamezone", "gameStarted", "message"])
    },
    methods: {
        countdown: function(){
            var timer = this.gamezone.ttl * 60, minutes, seconds, self = this
            setInterval(function () {
                minutes = parseInt(timer / 60, 10);
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                self.counter = minutes + ":" + seconds;

                if (--timer < 0) {
                    timer = this.gamezone.ttl * 60;
                }
            }, 1000);
        }
    },
    mounted : function(){
        this.countdown()
    }  
}
</script>