<template>
  <v-app>
    <v-content>
      <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
          <v-col cols="12" sm="8" md="4">
            <v-card class="elevation-12">
              <v-toolbar color="primary" dark flat>
                <v-toolbar-title>Login</v-toolbar-title>
              </v-toolbar>
              <v-card-text>
                <v-form @submit.prevent="check">
                  <v-text-field v-model="login" label="Login" name="login" type="text" />

                  <v-text-field
                    v-model="password"
                    id="password"
                    label="Password"
                    name="password"
                    type="password"
                  />
                  <v-btn color="primary" type="submit">Login</v-btn>
                </v-form>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import { postLogin } from "../repositories/users";

export default {
  name: "Login",
  data: function() {
    return {
      login: null,
      password: null
    };
  },
  methods: {
    check: function(e) {
      if (this.login && this.password) {
        var self = this;
        postLogin(this.login, this.password)
        .then(token => {
          sessionStorage.setItem("token", token);
          sessionStorage.setItem("login", self.login);
          self.$router.push({ name: "app" });
        });
      }
    }
  },
  mounted: function() {
    var self = this
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
        function (pos) {
            localStorage.setItem("position", JSON.stringify([pos.coords.latitude, pos.coords.longitude]))
            // localStorage.setItem("location_permission", true)
            self.$store.commit('setLocation',true)
        }, 
        function (error) {
            switch(error.code) {
              case error.PERMISSION_DENIED:
                console.log("User denied the request for Geolocation.")
                break;
              case error.POSITION_UNAVAILABLE:
                console.log("Location information is unavailable.")
                break;
              case error.TIMEOUT:
                console.log("The request to get user location timed out.")
                break;
              case error.UNKNOWN_ERROR:
                console.log("An unknown error occurred.")
                break;
            }
            // localStorage.setItem("location_permission", false)
            self.$store.commit('setLocation',false)
            
        })
    }
  }
};
</script>
