<template>
  <v-container id="map" />
</template>

<script>
import { mapGetters } from "vuex"
import axios from "axios"
import L from "leaflet"

export default {
  name: "Map",
  data: function() {
    return {
      map: null,
      icon: L.icon({
        iconUrl:'http://icons.veryicon.com/128/System/Small%20%26%20Flat/map%20marker.png',
        iconSize:    [30, 30],
        iconAnchor:  [15, 30],
        popupAnchor: [0, -25],
      }),
      marker: L.marker(),
      markersGroup: L.layerGroup(),
      circlesGroup: L.layerGroup()
    };
  },
  computed: {
    ...mapGetters(["position", "zoom", "user", "players", "targets", "gamezone"])
  },
  methods: {
    init() {
      this.map = L.map("map");
      this.updateMap();
      L.tileLayer(
        "https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibTFpZjEzIiwiYSI6ImNqczBubmhyajFnMnY0YWx4c2FwMmRtbm4ifQ.O6W7HeTW3UvOVgjCiPrdsA",
        {
          maxZoom: 20,
          minZoom: 1,
          attribution:
            'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
            '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
            'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
          id: "mapbox.streets"
        }
      ).addTo(this.map)

      this.markersGroup.addTo(this.map)
      this.circlesGroup.addTo(this.map)

      this.addUser()
      this.addGameZone()
      this.addPlayers()
      this.addCircles()
    },
    updateMap() {
      if (Object.keys(this.user).length > 0)
        this.map.setView(this.user.position, this.zoom);
      else
        this.map.setView(this.gamezone.center, this.zoom);
    },
    addUser(){
      if(Object.keys(this.user).length > 0){
          this.map.removeLayer(this.marker)
        
        this.marker = new L.marker(this.user.position, {icon : this.icon})
        this.marker.addTo(this.map).bindPopup("<strong>" + this.user.id + "</strong>.").openPopup()
      }
    },
    addGameZone(){
      L.circle(this.gamezone.center, this.gamezone.radius, {
        color: "green",
        fillColor: "#90EE90",
        fillOpacity: 0.5
      }).addTo(this.map)
    },
    addPlayers() {
      var self = this

      this.markersGroup.clearLayers()
      this.players.forEach(element => {
        if (element.status == "playing") {
          L.marker(element.position, { icon: self.icon })
            .addTo(self.markersGroup)
            // .bindPopup("<strong>" + element.id + "</strong>.")
            // .bindPopup("<strong> player </strong>.")
            // .openPopup();
        }
      });
      this.map.addLayer(this.markersGroup);
    },
    addCircles() {
      var self = this;
      this.circlesGroup.clearLayers();

      this.targets.forEach(element => {
        L.circle(element.position, 10, {
          color: "red",
          fillColor: "#f03",
          fillOpacity: 0.5
        }).addTo(self.circlesGroup);
      });

      this.map.addLayer(this.circlesGroup);
    }
  },
  watch: {
    'user.position': function (newValue, oldValue) {
      console.log("Map  : USER POSITION CHANGED") ;
      this.addUser()
      this.updateMap()
    },
    zoom(newValue, oldValue) {
      if (newValue !== oldValue) {
        this.updateMap();
      }
    },
    players: {
      handler: function(players){ 
        if (players.length > 0) {
          console.log("Map  : PLAYERS CHANGED")
          this.addPlayers() 
        }
      },
      deep: true
    },
    // targets: {
    //   handler: function(){ console.log("Map  : TARGETS CHANGED") ; this.addCircles() },
    //   deep: true,
    // },
    targets(newValue, oldValue) {
      if (newValue[0].id !== oldValue[0].id) {
        this.addCircles();
      }
    },
    gamezone: {
      handler: function(){
        console.log("Map  : gamezone CHANGED")
        this.addGameZone()
        // this.updateMap() 
      },
      deep: true
    }
  },
  mounted: function() {
    console.log("MOUNTED MAP : ",this.gamezone)
    this.init();
  }
};
</script>

<style>
@import "~leaflet/dist/leaflet.css";
#map {
  z-index: 0;
  height: 65vh !important;
}
</style>