<template>
    <v-container>
        <v-row>
            <div class="container">
                <h2>{{message}}</h2>
                <v-col v-if="!gameStarted">
                    <v-btn @click="startGame()">START</v-btn>
                </v-col>
            </div>
        </v-row>
    </v-container>
</template>

<script>
import { mapGetters } from "vuex"

export default {
    name : "Message", 
    computed: {
        ...mapGetters(["gamezone", "gameStarted", "message"])
    },
    methods:{
        startGame(){
            this.$store.dispatch("Start")
            this.$router.push({name:'app'})
        }
    },
    watch : {
        gameStarted (newVal, oldVal) {
            if (newVal){
                this.$store.dispatch('Resources')
                this.$store.dispatch('Timeout',this.$router)
            }
        }
    }
}
</script>
