<template>
  <div>
    <v-navigation-drawer v-model="drawer.model" clipped :mini-variant="drawer.mini" app overflow>
      <v-list dense nav class="py-0">
        <v-list-item two-line :class="drawer.mini && 'px-0'" v-if="typeof user !== 'undefined'">
          <v-list-item-avatar>
            <img src="{{user.url}}" />
          </v-list-item-avatar>

          <v-list-item-content>
            <v-list-item-title>{{user.id}}</v-list-item-title>
            <v-list-item-subtitle>
               <!-- <v-icon>emoji_events</v-icon> -->
               <!-- <v-icon v-for="t in user.trophys" :key="t" color="orange darken-2">emoji_events</v-icon> -->
               <v-icon v-for="t in user.trophys" :key="t" color="orange darken-2">home</v-icon>
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <div v-for="item in players" :key="item.id">
          <v-list-item link >
            <v-list-item-icon>
              <v-icon>mdi-account</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>{{ item.id }}</v-list-item-title>
              <h3 v-for="t in item.trophys" :key="t"> * </h3>
            </v-list-item-content>
          </v-list-item>
        </div>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import axios from "axios";

export default {
  name: "Players",
  props: ["drawer"],
  data: function() {
    return {
      resources: [],
      login: sessionStorage.getItem("login")
    };
  },
  computed: {
    ...mapGetters(["user", "players"])
  }
};
</script>